@{
    ViewData["Title"] = "Iot Edge module routes flow diagram";
}

<div class="text-center">
    <h1 class="display-4">IoT Edge module routes flow diagram</h1>

    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Routes Json</a></li>
            <li><a href="#tabs-2">Connection string</a></li>
        </ul>

        <div id="tabs-1">
            <label style="width:100px; text-align: left; vertical-align: text-top; display:inline-block">Routes</label><textarea type="text" id="routes" style="width:900px; height:150px;"></textarea><br />
            <label style="width:250px; text-align: left;display:inline-block">Extra modules(comma separated)</label><input type="text" id="em" style="width:750px; display:inline-block" /><br>
            <label style="width:805px; display:inline-block"></label><input type="button" id="btnSubmitRoutes" value="Submit" style="width:195px; display:inline-block" />
        </div>
        <div id="tabs-2">
            <label style="width:250px; text-align: left; display:inline-block">IoT Hub ConnectionString</label><input type="text" id="cs" style="width:750px; display:inline-block" /><br>
            <label style="width:250px; text-align: left;display:inline-block">Extra modules(comma separated)</label><input type="text" id="em" style="width:750px; display:inline-block" /><br>
            <label style="width:250px; text-align: left;display:inline-block">Device name</label><input type="text" id="dn" style="width:200px; display:inline-block" />
            <label style="width:350px; display:inline-block"></label><input type="button" id="btnSubmit" value="Submit" style="width:195px; display:inline-block" />
        </div>
    </div>

    <div id="error" style="display:none">
        <label style="display:inline-block; color:crimson">Please check the routes JSON or IoT Hub connectionstring and IoT Edge device name.</label>
    </div>
</div>
<div id="copy" align="center">
    <label style="display:inline-block">Sander van de Velde - <a target="_blank" rel="noopener noreferrer" href="https://github.com/sandervandevelde/EdgeRouteFlow/blob/master/LICENSE">MIT</a> - <a target="_blank" rel="noopener noreferrer" href="https://github.com/sandervandevelde/EdgeRouteFlow">GitHub</a> - <a target="_blank" rel="noopener noreferrer" href="https://sandervandevelde.wordpress.com/2019/01/25/visualize-azure-iot-edge-device-routes-as-a-flowchart-in-asp-net-mvc/">Blog</a> - <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/svelde">Twitter</a> - <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/sandervandevelde/">LinkedIn</a></label>
</div>

<div style="height:2500px; width:2500px;" id="routingchart"></div>

@section Scripts{
    <link rel="stylesheet" href="~/js/jquery.flowchart.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/jquery.flowchart.js"></script>

    <script language="javascript">
        $(document).ready(function () {

            $("#tabs").tabs();
            $('#tabs').show();
            $("#error").hide();

            $('#btnSubmitRoutes').click(function () {
                var routes = $('#routes').val();
                var extraModules = $('#em').val();

                var dataToPost = { 'routes': routes, 'extraModules': extraModules };

                $('#tabs').hide();
                $('#error').hide();

                $.post("Home/FlowRoutes", dataToPost)
                    .done(function (response, status, jqxhr) {

                        $('#routingchart').flowchart({
                            data: response,
                            multipleLinksOnInput: true,
                            multipleLinksOnOutput: true,
                            linkWidth: 3,
                            distanceFromArrow: 4
                        });
                    })
                    .fail(function (jqxhr, status, error) {
                        $('#tabs').show();
                        $("#error").show();
                    });
            });

            $('#btnSubmit').click(function () {
                var cs = $('#cs').val();
                var dn = $('#dn').val();
                var extraModules = $('#em').val();

                var dataToPost = { 'cs': cs, 'dn': dn, 'extraModules': extraModules };

                $('#tabs').hide();
                $('#error').hide();

                $.post("Home/Flow", dataToPost)
                    .done(function (response, status, jqxhr) {

                        $('#routingchart').flowchart({
                            data: response,
                            multipleLinksOnInput: true,
                            multipleLinksOnOutput: true,
                            linkWidth: 3,
                            distanceFromArrow: 4
                        });
                    })
                    .fail(function (jqxhr, status, error) {
                        $('#tabs').show();
                        $("#error").show();
                    });
            });
        });
    </script>
}